.field {
    flex: 1 1 33%;
    position: relative;
    height: 200px;
    width: 75px;
    border: 2px solid #000;
}

.field:hover {
    background-color: #eee;
    cursor: pointer;
}

.field.active:hover {
    background-color: inherit;
    cursor: unset;
}

.field.winners-field {
    background-color: #ccc;
}

.field.winners-field:hover {
    background-color: #ccc;
}

.field:nth-child(1) {
    border-left: none;
    border-top: none;
}

.field:nth-child(2) {
    border-top: none;
}

.field:nth-child(3) {
    border-right: none;
    border-top: none;
}

.field:nth-child(4) {
    border-left: none;
}

.field:nth-child(6) {
    border-right: none;
}

.field:nth-child(7) {
    border-left: none;
    border-bottom: none;
}

.field:nth-child(8) {
    border-bottom: none;
}

.field:nth-child(9) {
    border-right: none;
    border-bottom: none;
}

.field>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}